/* @import must be at top of file, otherwise CSS will not work */
@import url("https://hello.myfonts.net/count/33ad62");
@font-face {
  font-family: "AmerigoBT-RomanA";
  src: url("webfonts/33AD62_0_0.eot");
  src: url("webfonts/33AD62_0_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/33AD62_0_0.woff2") format("woff2"),
    url("webfonts/33AD62_0_0.woff") format("woff"),
    url("webfonts/33AD62_0_0.ttf") format("truetype"),
    url("webfonts/33AD62_0_0.svg#wf") format("svg");
}

@font-face {
  font-family: "AmerigoBT-BoldA";
  src: url("webfonts/33AD62_1_0.eot");
  src: url("webfonts/33AD62_1_0.eot?#iefix") format("embedded-opentype"),
    url("webfonts/33AD62_1_0.woff2") format("woff2"),
    url("webfonts/33AD62_1_0.woff") format("woff"),
    url("webfonts/33AD62_1_0.ttf") format("truetype"),
    url("webfonts/33AD62_1_0.svg#wf") format("svg");
}

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;

  display: none;
  overflow: hidden;
}

body {
  position: relative;
  font-family: "AmerigoBT-RomanA", "Helvetica", san-serif;
  background: #dfdfdf;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: smooth;
}

#andrew {
  min-height: 100%;
}

.logo img {
  max-width: 150px;
}

h2 {
  font-size: 290%;
}

#menu {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: smooth;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 42px;
  transition: all 0.75s ease-out;
  padding: 1em;
  background: url("../img/steadfast-wording.png") center no-repeat #dfdfdf;
  background-size: 85px;
}
#menu .emblem {
  float: left;
  max-width: 20px;
  position: absolute;
  top: 10px;
}
#menu .social a {
  text-align: center;
}
#menu .toggle {
  display: block;
  float: right;
  width: 32px;
}
#menu .toggle .bar {
  height: 2px;
  width: 100%;
  background: #002986;
  display: block;
  margin-bottom: 4px;
}
#menu .toggle #menu-toggle {
  position: absolute;
  top: 14px;
  width: 24px;
}
#menu .logo {
  display: none;
}
#menu .menu-content {
  overflow: hidden;
  height: 0;
  position: absolute;
  left: 0;
  width: 100vw;
  background: white;
  transition: all 1s ease-out;
}
#menu .menu-content ul {
  padding: 0;
  padding-bottom: 2em;
  display: block;
  background: white;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 0;
}
#menu .menu-size-box a {
  display: inline-block;
}
#menu .disclaimer img {
  margin-bottom: 3em;
  max-width: 100px;
}
#menu.open .menu-content {
  height: auto;
  top: 42px;
  transition: all 1s ease-out;
}
#menu.open .disclaimer {
  font-size: 70%;
  text-align: center;
  padding: 1.5em;
}
#menu.open .disclaimer p {
  margin-bottom: 0;
  color: #002986;
}
#menu.open .disclaimer img {
  max-width: 80px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.filter {
  position: absolute;
  background: url("../img/filter.png") center no-repeat;
  background-size: cover;
  min-height: 100%;
  top: 0;
  z-index: 15;
  mix-blend-mode: multiply;
  width: 100%;
}

#start,
#founders,
#who-we-work-with,
#approach,
#contact-us,
#faq {
  padding-top: 3em;
  margin-bottom: 3em;
  padding-bottom: 3em;
  -webkit-overflow-x: hidden;
  max-width: 100%;
}

.disclaimer-services {
  padding-bottom: 2em;
  font-size: 85% !important;
}

.alternate-menu {
  background: url("../img/menu-selector-white.png") right center no-repeat #fff;
  background-size: 8px;
}

.main-menu {
  list-style: none;
  padding-left: 42px;
  margin-bottom: 3em;
}
.main-menu li {
  margin-bottom: 0;
}
.main-menu li a {
  color: #002986;
  display: block;
  padding: 0.5em 0;
  font-size: 18px;
}

.divider {
  width: 5em;
  height: 3px;
  background: #309dff;
}

.wrap h2 {
  margin-bottom: 0 !important;
}

.wrap .main-text {
  position: absolute;
  z-index: 16;
  background: transparent;
}
.wrap .main-text p {
  overflow: hidden;
  display: none;
  height: 0;

  font-size: 1em;
}
.wrap .main-text p.active {
  display: block;
  height: auto;
}

.content {
  color: white;
  min-height: 100vh;
}
.content h2 {
  font-size: 3em;
}
.content p {
  font-size: 1.2em;
  margin-bottom: 2em;
}
.content p.lead {
  font-size: 1.5em;
  margin-top: 1em;
}
.content p.lead.active {
  height: 120px !important;
}
.content#home {
  background: url("../img/we-believe.jpg") center;
  background-size: cover;
}
.content#dreams {
  background: url("../img/transparency.jpg") center;
  background-size: cover;
}
.content#transparency {
  background: url("../img/eddie-klaus.jpg") center;
  background-size: cover;
}

.emphasis {
  color: #309dff;
}

#founders {
  position: relative;
  min-height: 100%;
  width: 100%;
}
#founders h2 {
  margin-bottom: 1em;
  background-color: #dfdfdf;
}
#founders a {
  color: black;
}
#founders a:hover {
  color: #002986;
}
#founders .content-slide-founder {
  width: 100%;
  margin: 0;
  min-height: 100%;
  background: #dfdfdf;
  overflow-x: hidden;
  overflow-y: hidden;
}
#founders .col-sm-4 {
  text-align: center;
}
#founders img {
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 2em;
  position: relative;
  display: block;
}
#founders #jonathan img {
  right: 30px;
}
#founders #andrew img {
  right: -45px;
}
#founders #andrew2 img {
  right: -45px;
}
#founders .row .col-sm-1 {
  padding-top: 20em;
}
#founders .row .col-sm-1 span {
  color: #002986;
  cursor: pointer;
}

.changer {
  display: none;
}

.wrap {
  width: 100%;
  min-height: 100%;
  -moz-transition: top 0.9s cubic-bezier(0.7, 0.01, 0.3, 1);
  -o-transition: top 0.9s cubic-bezier(0.7, 0.01, 0.3, 1);
  -webkit-transition: top 0.9s cubic-bezier(0.7, 0.01, 0.3, 1);
  transition: top 0.9s cubic-bezier(0.7, 0.01, 0.3, 1);
  background: #dfdfdf;
}

section {
  position: relative;
}

.menu-size-box {
  font-size: 170%;
}

.content-slide {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  transition: height 0.9s ease-in-out;
}
.content-slide:nth-child(1) {
  z-index: 9;
  background: white;
}
.content-slide:nth-child(2) {
  z-index: 8;
  background: #dfdfdf;
}
.content-slide:nth-child(3) {
  z-index: 7;
  background: #dfdfdf;
}
.content-slide:nth-child(4) {
  z-index: 6;
  background: #dfdfdf;
}
.content-slide:nth-child(5) {
  z-index: 5;
  background: #dfdfdf;
}
.content-slide.active {
  z-index: 11 !important;
}

#who-we-work-with {
  min-height: 100%;
}
#who-we-work-with h2 {
  margin-bottom: 1em;
}

#approach {
  min-height: 100%;
}
#approach h2 {
  margin-bottom: 1em;
}
#approach p,
#approach li {
  font-size: 120%;
}
#approach .col-xl-10 {
  padding: 0;
  margin-top: 2em 0;
}

#approach .col-xl-10 .col-sm-4 {
  padding: 0;
}
#approach .col-xl-10 .col-sm-4:nth-child(odd) .plan-tile:first-child {
  background: #309dff !important;
}
#approach .col-xl-10 .col-sm-4:nth-child(odd) .price {
  color: #15294d;
}
#approach .col-xl-10 .col-sm-4:nth-child(odd) .plan-tile:nth-child(2) .price {
  color: #309dff !important;
}
#approach .col-xl-10 .col-sm-4:nth-child(even) .plan-tile:nth-child(2) {
  background: #15294d;
}
#approach .col-xl-10 .col-sm-4:nth-child(even) .plan-tile:nth-child(2) .price {
  color: #309dff;
}
#approach .col-xl-10 .col-sm-4:nth-child(even) .plan-tile:nth-child(1) {
  background: #309dff;
}
#approach .col-xl-10 .col-sm-4:nth-child(even) .plan-tile:nth-child(1) .price {
  color: #15294d;
}
#approach .col-xl-10 .plan-tile {
  background: #15294d;
  min-height: 160px;
  padding: 1em 2em 1em 2em;
}
#approach .col-xl-10 .plan-tile p {
  display: none;
  color: white;
  font-size: 15px;
  margin-top: 2em;
}
#approach .col-xl-10 .plan-tile:hover p {
}
#approach .col-xl-10 .plan-tile:hover span {
  color: #309dff;
}
#approach .col-xl-10 .plan-tile h3 {
  color: white;
  margin-bottom: 0;
}
#approach .col-xl-10 .plan-tile .price {
  color: #309dff;
  margin-bottom: 2em;
}
#approach .col-xl-10 .plan-tile p {
  color: white;
}
#approach .col-xl-10 .plan-tile span {
  color: #309dff;
}
#approach .few-words {
  margin-top: 2em;
}
#approach .few-words li {
  border: solid;
  border-color: #309dff;
  border-width: 0 0 0 3px;
  padding-left: 1em;
}

.more-services {
  font-size: small;
  margin-top: 2em;
}

.form-control {
  border-radius: 0;
}

.words h2 {
  margin-top: 3em;
}

ul {
  list-style: none;
  margin-bottom: 3em;
}
ul li {
  margin-bottom: 1em;
}

#contact-us {
  min-height: 100%;
  width: 100%;
  background: url("../img/contact-us-back.png") center top no-repeat;
  background-size: cover;
}
#contact-us h2 {
  color: white;
  margin-bottom: 1em;
}
#contact-us form {
  color: white !important;
}
#contact-us form .form-control {
  color: white;
}
#contact-us form input {
  font-family: "AmerigoBT-RomanA", "Helvetica", san-serif !important;
  padding: 1em 0.5em 1em 0.5em;
  margin-bottom: 1em;
  border: solid;
  border-color: white;
  border-width: 0 0 1px 0;
  background: transparent;
}
#contact-us form input.submit {
  border: none;
  color: white;
}
#contact-us form textarea {
  color: black !important;
}
#contact-us form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #464a4c !important;
}
#contact-us form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #464a4c !important;
}
#contact-us form :-ms-input-placeholder {
  /* IE 10+ */
  color: #464a4c !important;
}
#contact-us form :-moz-placeholder {
  /* Firefox 18- */
  color: #464a4c !important;
}
#contact-us p {
  color: white;
  font-size: 120%;
}

h2 {
  margin-bottom: 3em;
}

.submit:after {
  content: "\f105";
  position: absolute;
  font-family: "FontAwesome";
  width: 2em;
}

#faq {
  min-height: 100%;
}

.faqs {
  font-size: 120%;
  padding-bottom: 5em;
}
.faqs h3 {
  color: white;
  margin-bottom: 1.2em;
}
.faqs .faq-tile {
  min-height: 150px;
}
.faqs .faq-tile p {
  display: none;
  color: white;
  font-size: 14px;
  margin-top: 2em;
}
.faqs .faq-column:nth-child(odd) .faq-tile {
  background: #309dff;
}
.faqs .faq-column:nth-child(odd) .faq-tile span {
  color: #15294d;
}
.faqs .faq-column:nth-child(odd) .faq-tile:nth-child(odd) {
  background: #15294d;
}
.faqs .faq-column:nth-child(odd) .faq-tile:nth-child(odd) span {
  color: #309dff;
}
.faqs .faq-column:nth-child(3) .faq-tile {
  background: #15294d;
}
.faqs .faq-column:nth-child(3) .faq-tile span {
  color: #309dff;
}
.faqs .faq-column:nth-child(3) .faq-tile:nth-child(odd) {
  background: #309dff;
}
.faqs .faq-column:nth-child(3) .faq-tile:nth-child(odd) span {
  color: #15294d;
}
.faqs .faq-column:nth-child(even) .faq-tile {
  background: #309dff;
}
.faqs .faq-column:nth-child(even) .faq-tile span {
  color: #15294d;
}
.faqs .faq-column:nth-child(even) .faq-tile:nth-child(even) {
  background: #15294d;
}
.faqs .faq-column:nth-child(even) .faq-tile:nth-child(even) span {
  color: #309dff;
}
.faqs .col-sm-4 {
  margin: 0;
  padding: 0;
}
.faqs p {
  font-size: 80%;
}

.faq-tile {
  padding: 1em;
}
.faq-tile h3 {
  font-size: 120%;
  margin-bottom: 0;
}

.small-gutter {
  margin: 0;
  padding: 0;
}
.small-gutter img {
  width: 100%;
  margin-bottom: 15px;
}

button {
  background: none;
  border: none;
}

.small-menu {
  visibility: hidden;
}

.social .login {
  display: block;
  right: -2em;
}

.social .facebook {
  display: block;
  padding-top: 2em;
}

@media screen and (max-width: 320px) {
  .main-text h2 {
    padding-top: 2em !important;
  }
  #founders .row .col-sm-1 {
    padding-top: 20em;
  }
  body {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -webkit-overflow-y: scroll !important;
    -webkit-overflow-x: hidden !important;
  }
  #founders .row .col-sm-1 {
    padding-top: 1rem;
  }
  #approach .col-xl-10 {
    padding: 0;
    margin-top: 2em;
    margin-left: 0;
  }
}

@media screen and (max-width: 415px) {
  .main-text h2 {
    padding-top: 4em;
  }
  #founders .row .col-sm-1 {
    padding-top: 1em;
  }
  body {
    overflow-y: scroll !important;
    overflow-x: hidden;
    -webkit-overflow-y: scroll !important;
    -webkit-overflow-x: hidden !important;
  }
}
@media (max-width: 768px) {
  .jonathan_z_div,
  .andrew_z_div {
    display: block !important;
    border-bottom: 1px solid #888888;
  }
  .right_img img {
    margin-top: 130px;
  }
}

@media (min-width: 768px) {
  #menu {
    background: url("../img/steadfast-wording.png") center no-repeat #fff;
    background-size: 100px;
  }
  .content {
    padding-top: 25vh;
  }
  .content-slide-founder {
    position: absolute;
  }
  .changer {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 150%;
    top: 50%;
    right: 0;
  }
  #founders .andrew-bio {
    margin-left: 5.157em;
    padding-top: 5em;
  }
  #founders .jonathan-bio {
    padding-top: 5em;
  }
  #founders .jonathan-bio span {
    display: inline-block;
    padding-right: 1em;
    padding-top: 0.5em;
    color: #309dff;
    background: url("/img/founders-arrow.png") top right no-repeat;
  }
  #founders .andrew-bio span {
    display: inline-block;
    padding-right: 1em;
    padding-top: 0.5em;
    color: #309dff;
    background: url("/img/founders-arrow.png") top right no-repeat;
  }
  #andrew-container {
    z-index: 10;
  }
  .small-gutter {
    padding: 0 15px;
    margin-top: 12px;
  }
  .small-gutter .col-sm-4 {
    padding-left: 0;
    padding-right: 12px;
  }
  .small-gutter .col-sm-8 {
    padding-left: 0px;
  }
  .small-gutter img {
    margin-bottom: 0;
  }
  .disclaimer-services {
    padding-left: 3em;
  }
  .faqs .faq-column:nth-child(3) .faq-tile {
    background: #309dff;
  }
  .faqs .faq-column:nth-child(3) .faq-tile:nth-child(odd) {
    background: #15294d;
  }
  .faqs .faq-column:nth-child(3) .faq-tile:nth-child(odd) span {
    color: #309dff !important;
  }
  .left_img img {
    margin-left: -150px !important;
    margin-top: 50px;
  }
  .right_img img {
    margin-top: 100px;
  }
}

@media (min-width: 1024px) {
  #menu {
    overflow-x: hidden;
  }
}

@media (min-width: 1025px) {
  .social .login {
    padding-left: 0em;
  }
  .social .facebook {
    padding-top: 0em;
  }
  .wrap .main-text p {
    height: auto;
    display: block;
    overflow: visible;
  }
  .small-menu {
    visibility: visible;
    position: fixed;
    top: 2.5em;
    z-index: 100;
    background: white;
    padding: 0.5em 1em 0.5em 2em;
  }
  .small-menu img {
    width: 70% !important;
  }
  #menu {
    margin-left: -100%;
  }
  #menu .logo {
    display: block;
  }
  #menu img {
    margin-bottom: 3em;
  }
  #menu .emblem {
    position: relative;
  }
  #menu .toggle {
    display: none;
  }
  #menu a.login,
  #menu a.facebook {
    padding-left: 42px;
    display: block;
    margin-bottom: 1em;
    font-size: 18px;
    text-align: center;
  }
  #menu .disclaimer {
    margin-top: 2em;
    padding-top: 2em;
    padding-left: 42px;
    color: #002986;
    font-size: 11px;
    max-width: 250px;
  }
  #menu .bar {
    width: 80px;
    height: 2px;
    background: #dadada;
    margin-left: 42px;
  }
  #menu .menu-content {
    height: auto;
  }
  #menu .menu-content ul {
    text-align: left;
    padding-left: 42px;
  }
  #menu .menu-content .disclaimer {
    text-align: left;
  }
  .content {
    padding-top: 25vh;
    float: right;
    padding-left: 400px;
  }
  .content-slide {
    width: 100%;
  }
  #founders {
    padding-left: 0;
  }
  #founders .changer {
    font-size: 1em;
  }
  #start,
  #founders,
  #who-we-work-with,
  #approach,
  #contact-us,
  #faq {
    width: calc(100vw - 290px);
    float: right;
    position: relative;
    padding-left: 3em;
  }
  #start section,
  #founders section,
  #who-we-work-with section,
  #approach section,
  #contact-us section,
  #faq section {
    min-height: 100%;
  }
  #start .content,
  #founders .content,
  #who-we-work-with .content,
  #approach .content,
  #contact-us .content,
  #faq .content {
    width: 100%;
  }
  #start {
    width: 100%;
    padding-left: 0;
    overflow-y: hidden;
  }
  #approach {
    padding-left: 0;
  }
  #approach .col-md-8,
  #approach .col-sm-9 {
    padding-left: 3em;
  }
  #faq {
    padding-left: 0;
  }
  #faq h2 {
    padding-top: 1em;
  }
  .content {
    padding-top: 11vh;
  }

  #menu {
    padding-left: 2em;
    padding-top: 4em;
    position: fixed;
    background: white;
    height: 100%;
    z-index: 1000;
    width: 290px !important;
    padding: 40px;
    padding-right: 20px;
    overflow-y: scroll;

    overflow-x: hidden;

    /*#faq-menu.active {
			background:url('../img/menu-selector-bright-blue.png') right center no-repeat;
			background-size: 8px;
		} */
  }

  #menu .menu-content {
    width: 290px;
  }
  #menu .menu-content ul {
    margin-top: 0;
  }
  #menu .menu-content .social a {
    text-align: left;
  }
  #menu a {
    color: #002986;
  }
  #menu a.active {
    background: url("../img/menu-select-gray.png") right center no-repeat;
    background-size: 8px;
  }
  #menu #contact-menu.active,
  #menu #faq-menu.active {
    background: url("../img/menu-selector-blue.png") right center no-repeat;
    background-size: 8px;
  }
  #founders {
    float: right;
    padding: 0;
    overflow-y: hidden;
  }
  #founders section {
    min-height: 80%;
  }
  #founders img {
    position: absolute;
    margin-top: 10%;
  }
  #founders .bottom {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #founders p {
    font-size: 85%;
  }
  #founders a {
    color: #309dff;
  }
  .plans {
    display: flex;
  }
  .right-go {
    margin-left: 5rem;
  }
  .left_img img {
    margin-left: -150px !important;
  }
}

@media (min-width: 1350px) {
  .content {
    padding-top: 10%;
  }
  .content h2 {
    font-size: 4em;
  }
  #contact-us h2 {
    margin-top: 3em;
  }
}

@media (min-height: 700px) {
  #approach .col-xl-10 .col-sm-4:nth-child(odd) .plan-tile:first-child {
    background: #309dff !important;
  }
  #approach .col-xl-10 .col-sm-4:nth-child(odd) .price {
    color: #15294d;
  }
  #approach .col-xl-10 .col-sm-4:nth-child(odd) .plan-tile:nth-child(2) .price {
    color: #309dff !important;
  }
  #approach .col-xl-10 .col-sm-4:nth-child(even) .plan-tile:nth-child(2) {
    background: #309dff;
  }
  #approach
    .col-xl-10
    .col-sm-4:nth-child(even)
    .plan-tile:nth-child(2)
    .price {
    color: #15294d;
  }
  #approach .col-xl-10 .col-sm-4:nth-child(even) .plan-tile:nth-child(1) {
    background: #15294d;
  }
  #approach
    .col-xl-10
    .col-sm-4:nth-child(even)
    .plan-tile:nth-child(1)
    .price {
    color: #309dff;
  }
}

@media (min-width: 1500px) {
  #founders p {
    font-size: 100% !important;
  }
  #founders .col-xl-5 {
    max-width: 40%;
  }
  #founders .row .col-sm-1 {
    padding-top: 27em;
  }
  #founders .jonathan-bio {
    padding-top: 12em;
  }
  #founders .andrew-bio {
    padding-top: 13em;
    margin-left: 7em;
  }
  #founders .col-sm-4 .bio,
  #founders .col-sm-7 .bio,
  #founders .changer .bio {
    top: 50%;
    margin-top: -25%;
    position: absolute;
  }
}

@media (min-height: 920px) {
  #founders .col-sm-4 .bio,
  #founders .col-sm-7 .bio,
  #founders .changer .bio {
    top: 50%;
    margin-top: -40%;
    position: absolute;
  }
}

@media (min-width: 1900px) {
  .content {
    padding-top: 3vh;
  }
  .wrap {
    padding-top: 23% !important;
  }
  #founders #jonathan {
    padding-top: 0em;
  }
  #founders #andrew {
    padding-top: 0em;
  }
  #founders .andrew-bio {
    padding-top: 23em;
    margin-left: 8.4em;
  }
  #founders .jonathan-bio {
    padding-top: 20em;
  }
  #founders .row .col-sm-1 {
    padding-top: 31em;
  }
}

@media (min-width: 2100px) {
  .wrap {
    font-size: 140%;
  }
}

/*custom css
*/
.plan-tile h4,
.faq-tile h4 {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(206, 212, 182);
  text-align: right;
}
.right-more {
  margin-left: 5rem !important;
}

/*///////test/////////*/

.jonathan_z_div {
  width: 90%;
  display: grid;
  grid-template-columns: 40% 60%;
  box-sizing: border-box;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.left_img {
  place-items: center;
  position: relative;

  width: 350px;
  height: 600px;
  margin-top: -120px;
}
.left_img img {
  width: 100%;
  height: 100%;
}

.andrew_z_div {
  width: 90%;
  display: grid;
  grid-template-columns: 60% 40%;
  box-sizing: border-box;
  padding: 1rem 2rem;
  margin: 0 auto;
}
.right_img {
  place-items: center;
  position: relative;

  width: 350px;
  height: 600px;
  margin-top: -180px;
  margin-left: 50px;
}
.right_img img {
  width: 100%;
  height: 100%;
}
#founders h2 {
  text-align: center;
}
